<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" >
    <title>Credits</title>
</head>
<body id="credit-body">
    <div class="card-container">
        <div class="credit-card">
            <h1></h1>
            <img src="https://images.unsplash.com/photo-1634644099092-734658d5e286?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
            <p>Image found at <a href="">Unsplashed</a></p>
        </div>
        <div class="credit-card">
            <h1></h1>
            <img src="https://images.unsplash.com/photo-1634644099092-734658d5e286?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
            <p>Image found at <a href="">Unsplashed</a></p>
        </div>
        <div class="credit-card">
            <h1></h1>
            <img src="https://images.unsplash.com/photo-1634644099092-734658d5e286?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
            <p>Image found at <a href="">Unsplashed</a></p>
        </div>
    </div>
</body>
</html>